p{
	font-size: 20px;
	font-family: Times New Roman;

}


ol.type_nume{
	padding-left: 23%; /* Поле слева */
	list-style-type: disc;
}

li.type_nume{
	font-size: 20px;
	font-family: Times New Roman;
}

span.colortext {
	color: #FF4500; /* Красный цвет выделения */
}

.radius
{
 background: #f0f0f0;
 border: 1px solid black;
 padding: 20px;
 margin-bottom: 100px;
}
 




